
@media only screen and (max-width: 768px) {

* {
    font-family: 'Space Mono', monospace;
}
    
#logo {
    position: relative;
    top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: hsl(185, 41%, 84%);
    
}

.names1 {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-left: 50px;
}

.names {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-left: 50px;
    margin-top: 30px;
}

.flexBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px;
    margin-top: 100px;
    background-color: white;
    width: 100%;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#person-icon, #cifrao-icon {
    position: relative;
    left: 20px;
    top: 3px;
    margin-left: 35px;
}

.flexBox2 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;

}

.buttom {
    width: 25%;
    padding: 7px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;

}

.buttom1 {
    width: 25%;
    padding: 7px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;
}

.custom {
    width: 80px;
    border: 0 none;
    outline: none;
    margin-left: 12px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
    color: hsl(186, 14%, 43%);
    
}

.text {
    border: 0;
    outline: none;
}

input {
    text-align: right;
    width: 300px;
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 20px;
    background-color: hsl(189, 41%, 97%);
    padding: 7px;
    border-radius: 10px;
    margin-top: 7px;
}

.flex {
    display: block;
    background-color: hsl(183, 100%, 15%);
    padding: 50px;
    width: 200px;
    height: 150px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}


.amount {
    position: relative;
    right: 30px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.person {
    position: relative;
    right: 30px;
    color: hsl(184, 14%, 56%);
    font-size: 12px;
    font-weight: 700;

}

.total {
    width: 130px;
    height: 50px;
    position: relative;
    left: 200px;
    bottom: 40px;
    text-align: right;
    color: hsl(172, 67%, 45%);
    font-size: 25px;
}

#reset {
    position: relative;
    border: none;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    top: -15px;
    right: 25px;

}

#zero {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    background-color: hsl(183, 100%, 15%);
    padding: 5px;
    
}

footer {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
}


}


@media only screen and (min-width: 768px) {

* {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

html, body {
    min-height: 100%;
}

body {
    background-color: hsl(185, 41%, 84%);
    
}

.names1 {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-left: 50px;
}

.names {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-left: 50px;
    margin-top: 30px;
}

.flexBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px;
    background-color: white;
    width: 750px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.fleBoxItem2, .fleBoxItem1 {
    flex-grow: 1;
}

#person-icon, #cifrao-icon {
    position: relative;
    left: 20px;
    top: 3px;
    margin-left: 35px;
}

.flexBox2 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;

}

.buttom {
    width: 25%;
    padding: 7px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;

}

.buttom1 {
    width: 25%;
    padding: 7px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;
}

.custom {
    width: 80px;
    border: 0 none;
    outline: none;
    margin-left: 12px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
    color: hsl(186, 14%, 43%);
    
}

.text {
    border: 0;
    outline: none;
}

input {
    text-align: right;
    width: 300px;
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 20px;
    background-color: hsl(189, 41%, 97%);
    padding: 7px;
    border-radius: 10px;
    margin-top: 7px;
}

.flex {
    display: block;
    background-color: hsl(183, 100%, 15%);
    padding: 50px;
    margin-right: 40px;
    width: 200px;
    height: 220px;
    border-radius: 15px;
}


.amount {
    position: relative;
    right: 30px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.person {
    position: relative;
    right: 30px;
    color: hsl(184, 14%, 56%);
    font-size: 12px;
    font-weight: 700;

}

.total {
    width: 130px;
    height: 50px;
    position: relative;
    left: 120px;
    bottom: 40px;
    text-align: left;
    font-size: 30px;
    color: hsl(172, 67%, 45%);
      
}

#reset {
    position: relative;
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    top: 10px;
    right: 25px;

}

#logo {
    position: relative;
    top: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#zero {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    background-color: hsl(183, 100%, 15%);
    padding: 5px;
    
}

footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
}

}